* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.heading {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.card{
    height: 110px;
    width: 100px;
    background-color: #ffff00;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
 
    

}
.card img{
    width: 80%;
    max-height: 100px;
    opacity: 0;
    transition: 0.3s all ease;
}

.card:hover {
  transform: scale(1.03);
}

.card.clicked{
  background: orange;
}
.found{
  pointer-events: none;
}
.card.checked img, .card.clicked img{
opacity: 1;
}

.card.shake{
  background-color: red;
}
.card.checked{
  background-color: lightgreen;
}


